#search{
	margin: 0 auto;
	margin-top: 20px;
	width:250px;
}
.name_list{
	margin:0 auto;
	width:30%;
}
.inspect_list{
	margin:0 auto;
	width:60%;
}
#price{
	width:50%;
	margin:0 auto;
	text-align:center;
}